<section class="footer-section">
    <div class="footer-content">
      <div class="line"></div>
      <footer class="footer">
        <div class="name-left">
          <h1>M<span class="colored-i">i</span>r<span class="colored-i">i</span>a<p>m</p></h1>
          <div class="underline">
            <a href="imprint">Impressum</a>
          </div>
        </div>
        <div class="name-middle">
          <p>© Miriam Fuchs 2024</p>
        </div>
        <div class="logo-right">
          <a href="https://github.com/FuchsMiriam" target="_blank">
            <img src="./assets/img/github.svg" alt="Github">
          </a>
          <a href="#contact">
            <img src="./assets/img/email.svg" alt="Kontakt">
          </a>
          <a href="https://www.linkedin.com/in/miriamfuchs/" target="_blank">
            <img src="./assets/img/linkedin.svg" alt="LinkedIn">
          </a>
        </div>
      </footer>
    </div>
  </section>
  
