.footer-section {
  background: #141d2f;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
  top: 0;
  background-color: #141d2f;
  z-index: 10;
  padding: 0 10px;
}

.footer-content {
  width: 1440px;
  margin: 0 auto;
}

.line {
  border-top: 4px solid #70e61c;
  width: 100%;
  position: absolute;
  left: 0;
}

footer {
  height: 291px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}

.name-left,
.name-middle,
.logo-right {
  display: flex;
  align-items: center;
}

.name-left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  h1 {
    display: flex;
    font-size: 40px;
    align-items: center;
    margin: 0;

    p {
      display: inline;
      color: #70e61c;
      margin: 0;
    }

    .colored-i {
      color: #9747ff;
      margin: 0;
    }
  }
}

.name-middle {
  display: flex;
  align-items: center;

  p {
    font-size: 23px;
    font-weight: 400;
  }
}

.logo-right {
  display: flex;
  gap: 42px;
  align-items: center;

  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    img {
      width: 30px;
      height: 30px;
      cursor: pointer;

      &:hover {
        width: 40px;
        height: 40px;
        transform: scale(1.1);
      }
    }
  }
}

.underline {
  height: 40px;

  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: white;

    &:hover {
      border-bottom: 2px solid #70e61c;
      cursor: pointer;
    }
  }
}

@media (max-width: 1125px) {
  .name-middle {
    > p {
      font-size: 18px;
      flex-wrap: nowrap;
    }
  }
}

@media (max-width: 975px) {
  .footer-section {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 825px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .footer-section {
    padding: 0;
  }
}
