<section class="contact-section">
  <div class="contact-wrapper">
    <div class="contact-header">
      <div class="contact-header-line"></div>
      <h1>{{ 'CONTACT.TITLE' | translate }}</h1>
    </div>
    <div class="contact-info">
      <div class="contact-details">
        <div class="contact-details-header">
          <h2 [innerHTML]="getHtml('CONTACT.HEADER')"></h2>
        </div>
        <div class="contact-details-text">
          <p>
            <span [innerHTML]="getHtml('CONTACT.DESCRIPTION')"></span>
            <br />
            <br />
            <span [innerHTML]="getHtml('CONTACT.NEED_DEV')"></span>
            <b [innerHTML]="getHtml('CONTACT.CONTACT_ME')"></b>
          </p>
        </div>
      </div>

      
      <form
      *ngIf="!formSent"
        (ngSubmit)="onSubmit(contactForm)"
        #contactForm="ngForm"
        class="contact-form"
      >
        <label for="name"></label>
        <input
          id="name"
          type="text"
          name="name"
          minlength="4"
          required
          [(ngModel)]="contactData.name"
          #name="ngModel"
          [ngClass]="{
            'input-error-border': !name.valid && name.touched,
            'input-success-border': name.valid && name.touched
          }"
          placeholder="{{ 'CONTACT.NAME_PLACEHOLDER' | translate }}"
          class="form-input"
        />
        <span *ngIf="!name.valid && name.touched" class="form-error-message">
          Your name is required and must be at least 4 characters.
        </span>

        <label for="email"></label>
        <input
          id="email"
          type="email"
          name="email"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          [(ngModel)]="contactData.email"
          #email="ngModel"
          [ngClass]="{
            'input-error-border': !email.valid && email.touched,
            'input-success-border': email.valid && email.touched
          }"
          placeholder="{{ 'CONTACT.EMAIL_PLACEHOLDER' | translate }}"
          class="form-input"
        />
        <span *ngIf="!email.valid && email.touched" class="form-error-message">
          Please enter a valid email address.
        </span>

        <label for="message"></label>
        <textarea
          id="message"
          name="message"
          minlength="8"
          required
          [(ngModel)]="contactData.message"
          #message="ngModel"
          [ngClass]="{
            'input-error-border': !message.valid && message.touched,
            'input-success-border': message.valid && message.touched
          }"
          placeholder="{{ 'CONTACT.MESSAGE_PLACEHOLDER' | translate }}"
          class="form-input form-textarea"
          style="height: 200px"
        ></textarea>
        <span
          *ngIf="!message.valid && message.touched && !message.disabled"
          class="form-error-message"
        >
          Please enter a message. Message must be at least 8 characters.
        </span>

        <div class="privacy-policy-section">
          <img
            (click)="acceptPrivacyPolicy()"
            [src]="checkboxImage"
            alt="Checkbox Icon"
          />
          <span [innerHTML]="getHtml('CONTACT.PRIVACY_POLICY')" class="privacy-link"></span>
        </div>

        <button
          type="submit"
          class="submit-button"
          [disabled]="!contactForm.valid || !privacyPolicyAccepted"
          [ngClass]="{
            'submit-button': checkboxImage === './assets/img/check_button_checked.svg'
          }"
          [ngStyle]="{
            'background-color': checkboxImage === './assets/img/check_button_checked.svg' ? '#70E61C' : '#B6B6B6'
          }"
        >
        {{ 'CONTACT.SUBMIT' | translate }}
        </button>
      </form>

      <div id="confirmation-message" *ngIf="emailSent">
        <p>Email has been sent!/Mail verschickt!</p>
      </div>

      <img
        class="contact-shadow"
        src="./assets/img/contact_shadow.svg"
        alt=""
      />
    </div>
    <div class="arrow-up">
      <img
        (click)="toTop()"
        src="./assets/img/arrow_go_up.svg"
        alt="Scroll to top"
      />
    </div>
  </div>
</section>
