/* Layout and structure for the contacts section */
.contact-section {
  width: 100%;
  background: #141d2f;
  position: relative;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.contact-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.contact-header {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;

  > h1 {
    font-size: 88px;
    font-weight: 700;
    text-align: center;
  }
}

.contact-header-line {
  border: 2px solid rgb(151, 71, 255);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 500px;
}

/* Contact info and details */
.contact-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  gap: 80px;

  > h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
  }
}

.contact-details {
  display: flex;
  flex-direction: column;
  left: 100px;
  position: relative;
}

.contact-details-header {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.contact-details-text {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  max-width: 590px;
  width: 80%;
}

/* Contact form */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 650px;
  padding: 20px;
  margin-right: 80px;

  > button {
    margin-top: 24px;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    border: none;
    cursor: pointer;
    color: white;
    display: inline-block;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    &.active:hover {
      background-color: #9747ff !important;
      transform: scale(1.1);
    }
  }

  > .form-error-message {
    font-size: 14px;
    color: red;
    font-weight: 200;
    width: 100%;
  }
}

.form-input {
  width: 100%;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  background: #141d2f;
  border: 1px solid #9747ff;
  border-radius: 10px;
  outline: none;
  font-family: "Poppins", sans-serif;

  &:hover {
    border: 1px solid #70e61c;
    cursor: pointer;
  }

  &::placeholder {
    color: white;
  }

  &:focus {
    border-color: #70e61c;
  }
}

.form-textarea {
  height: 150px;
  resize: none;
  font-family: "Poppins", sans-serif;
}

.input-valid-border {
  border: 1px solid #70e61c;
}

.input-error-border {
  border: 1px solid red;
}

/* Privacy policy and confirmation */
.privacy-policy-section {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  align-self: flex-start;

  > img {
    display: block;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
    pointer-events: auto;

    &:hover {
      background: #183771;
      border-radius: 50%;
    }
  }
}

.privacy-link a {
  color: #9747ff !important;
  text-decoration: none !important;
  cursor: pointer;
}

.privacy-link a:hover {
  text-decoration: underline !important;
  cursor: pointer !important;
}

#confirmation-message {
  font-size: 16px;
  color: #70e61c;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

/* Decorative elements */
.arrow-up {
  background: #141d2f;
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-bottom: 60px;
  z-index: 100;

  > img {
    position: relative;
    z-index: 100;
    cursor: pointer;
    &:hover {
      content: url("/assets/img/arrow_go_up_hover.svg");
    }
  }
}
.contact-shadow {
  position: absolute;
  left: 0px;
  top: 650px;
  z-index: 0;
}

@media (max-width: 1250px) {
  .contact-header {
    margin-top: 0;
    height: 100px;
    > h1 {
      font-size: 70px;
    }
  }

  .contact-details {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }

  .contact-details-header {
    justify-content: center;
  }

  .contact-details-text {
    max-width: 100%;
    width: 100%;
  }

  .contact-form {
    width: 75%;
    margin-right: 0;
    max-width: 100%;
  }
}

@media (max-width: 1165px) {
  .contact-header-line {
    width: 200px;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .contact-details {
    left: 0;
  }

  .contact-details-text {
    margin-top: 0;
  }

  .contact-form {
    > .form-error-message {
      font-size: 12px;
    }
  }

  .contact-shadow {
    top: 950px;
  }
}

@media (max-width: 1280px) and (max-height: 800px) {
  .contact-info {
    max-width: 1100px;
    margin-left: 0;
    margin-right: 0;
  }

  .contact-form {
    max-width: 400px;
    margin-right: 0;
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .contact-form {
    margin-right: 0;
    max-width: 75%;
  }
}

@media (max-width: 765px) {
  .contact-header {
    justify-content: center;
    > h1 {
      font-size: 40px;
    }
  }

  .contact-shadow {
    top: 1000px;
  }
}

@media (max-width: 570px) {
  .contact-form {
    margin-right: 0;
  }
}

@media (max-width: 450px) {
  .contact-header-line {
    width: 50px;
  }

  .contact-details {
    align-items: center;
    text-align: center;
  }

  .contact-details-text {
    width: 100%;
  }

  .contact-form {
    > button {
      padding: 10px 25px;
      border-radius: 10px;
      font-size: 16px;
      margin-top: 10px;
    }
  }

  .privacy-policy-section {
    gap: 5px;
  }

  .contact-shadow {
    top: 1050px;
  }
}

@media (max-width: 360px) and (max-height: 740px) {
  .contact-details-text {
    width: 100%;
  }

  .arrow-up {
    justify-content: flex-end;
    margin-right: 10px;
  }
}

@media (max-width: 365px) and (max-height: 667px) {
  .contact-form {
    margin-right: 0 !important;
  }
}
