<section class="hero-section">
  <div class="hero-content-wrapper">
    <img
      class="hero-bg"
      src="./assets/img/background_abovethefold.svg"
      alt=""
    />
    <div class="image-wrapper">
      <img
        class="background-image-photo"
        src="./assets/img/photo_shadows.svg"
        alt="Background photo"
      />
      <div class="center-image">
        <img src="./assets/img/miriam_fuchs_downsized.png" alt="Miriam Fuchs" />
      </div>
    </div>
 
    <div class="hero-content">
      <div class="introduction-container">
        <div class="introduction-text">
          <p>I am</p>
        </div>
        <div class="name-title">
          <h1>Miriam Fuchs</h1>
          <h2>FRONTEND DEVELOPER</h2>
        </div>
      </div>

      <div class="contact-button-container">
        <a href="#contact" class="contact-button">
          {{ "BUTTON.LETS_TALK" | translate }}
        </a>
      </div>
    </div>

    <div class="social-scroll-wrapper">
      <div class="social-bar">
        <div class="social-bar-line"></div>
        <a href="https://github.com/FuchsMiriam" target="_blank">
          <img src="./assets/img/github.svg" alt="GitHub" />
        </a>
        <a href="#contact">
          <img src="./assets/img/email.svg" alt="Email" />
        </a>
        <a href="https://www.linkedin.com/in/miriamfuchs/" target="_blank">
          <img src="./assets/img/linkedin.svg" alt="LinkedIn" />
        </a>
      </div>

      <div class="scroll-indicator">
        <p>{{ "SCROLL.DOWN" | translate }}</p>
        <img
          class="scroll-arrow"
          (mouseenter)="changeArrowImage(true)"
          (mouseleave)="changeArrowImage(false)"
          src="./assets/img/arrow_up.svg"
          alt="Scroll down arrow"
          (click)="scrollToAboutMe()"
        />
      </div>
    </div>
  </div>
</section>
