.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #141d2f;

  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 100px;
}

.menu {
  display: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 29px;
  font-weight: 400;
  font-size: 23px;
  > a:hover {
    color: #70e61c;
  }
}

.name-header {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: row;
  font-size: 400;
  > a {
    display: flex;
    font-size: 24px;
    align-items: center;

    > p {
      display: inline;
      color: #70e61c;
      margin: 0;
      padding: 0;
    }

    > .name-space {
      display: inline-block;
      width: 10px;
    }

    .colored-i {
      color: rgb(151, 71, 255);
    }
  }
}
