<section class="header">
  <header>
    <div class="name-header">
      <a href="#abovethefold"
        >M<span class="colored-i">i</span>r<span class="colored-i">i</span>a
        <p>m</p>
        <span class="name-space"></span>Fuch
        <p>s</p></a
      >
    </div>
    <div class="language-switcher">
      <button class="lang-btn" [ngClass]="{ active: activeLang === 'en' }" (click)="switchLanguage('en')">English</button>
      <button class="lang-btn" [ngClass]="{ active: activeLang === 'de' }" (click)="switchLanguage('de')">Deutsch</button>
    </div>
    <div class="navbar">
      <a href="#about">{{ "NAV.ABOUT" | translate }}</a>
      <a href="#skills">{{ "NAV.SKILLS" | translate }}</a>
      <a href="#portfolio">{{ "NAV.PORTFOLIO" | translate }}</a>
    </div>
  </header>
</section>
