.portfolio {
  background: #141d2f;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.portfolio-content {
  width: 1440px;
}

.portfolio-bar {
  width: 100%;
  border: 2px solid #9747ff;
}

.portfolio-bar.left {
  width: 145px;
  flex-shrink: 0;
}

.portfolio-bar.right {
  flex-grow: 1;
  max-width: 484px;
}

.portfolio-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 40px;
  flex-wrap: wrap;
  position: relative;

  > h1 {
    font-size: 90px;
    font-weight: 700;
  }
}

.projects {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 150px;
  text-align: right;
  display: flex;
  justify-content: center;
}

.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  height: 400px;
  overflow: hidden;
}

.project-card:nth-child(odd) {
  flex-direction: row;
}

.project-card:nth-child(even) {
  flex-direction: row;
}

.project-img {
  //width: 50%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  text-align: center;
  gap: 15px;
}

.project-card:nth-child(odd) .project-info {
  align-items: flex-start;
  text-align: left;
}

.project-card:nth-child(even) .project-info {
  align-items: flex-end;
  text-align: right;
}

.project-title {
  font-weight: 700;
  font-size: 32px;
  color: #9747ff;
  margin: 0;
}

.project-tech {
  color: #70e61c !important;
  font-size: 23px;
  font-weight: 400;
  margin: 0;
}

.project-description {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.buttons {
  > a {
    gap: 40px;
  }
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.github-btn,
.live-btn {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 23px;
  white-space: nowrap;
  font-weight: 400;
}

.github-btn {
  background-color: transparent;
  border: 1px solid #70e61c;
  color: white;
}

.github-btn:hover {
  background-color: #70e61c;
  color: white;
}

.live-btn {
  background-color: #9747ff;
  color: white;
}

.live-btn:hover {
  background-color: #70e61c;
}

@media (max-width: 800px) {
  .portfolio-content {
    > p {
      position: relative;
      z-index: 100;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-left: 0;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .buttons {
    margin-top: 20px;
    height: 80px;
    gap: 40px;
  }
  .github-btn,
  .live-btn {
    font-size: 16px;
    padding: 10px 15px;
  }
  .bg-text {
    height: 70%;
    margin-top: 0px;
    gap: 16px;
    > h2 {
      font-size: 16px;
    }
    > p {
      font-size: 13px;
    }
  }

  .portfilio-left-bg {
    bottom: -3850px;
  }
  .project-card {
    width: 300px;
    height: 300px;
  }
  .portfolio-header {
    display: flex;
    justify-content: center;
    > h1 {
      font-size: 60px;
    }
  }
  .portfolio-bar {
    width: 200px;
  }
  .portfolio {
    position: static;
  }
}
@media (max-width: 530px) {
  .portfolio-header {
    > h1 {
      font-size: 40px;
    }
  }
  .portfolio-bar {
    width: 80px;
  }
}
