<section class="portfolio">
  <div class="portfolio-content">
    <div class="portfolio-header">
      <div class="portfolio-bar left"></div>
      <h1>Portfolio</h1>
      <div class="portfolio-bar right"></div>
      <div class="portfolio-text">
        {{ "PORTFOLIO.HEADER" | translate }}
      </div>

      <div class="projects">
        <div class="project-card">
          <img
            src="./assets/img/join.png"
            alt="Project Image"
            class="project-img"
          />
          <div class="project-info">
            <h2 class="project-title">Join</h2>
            <p class="project-tech">
              JavaScript | HTML | CSS | Firebase
            </p>
            <p class="project-description">
              {{ "PORTFOLIO.JOIN" | translate }}
            </p>
            <div class="buttons">
              <a href="https://join.miriam-fuchs.net/" target="_blank"
                ><button class="live-btn">Live test</button></a
              >
              <a
                href="https://github.com/FuchsMiriam/join-dummy"
                target="_blank"
                ><button class="github-btn">Github</button></a
              >
            </div>
          </div>
        </div>

        <div class="project-card">
          <div class="project-info">
            <h2 class="project-title">El Pollo Loco</h2>
            <p class="project-tech">JavaScript | HTML | CSS</p>
            <p class="project-description">
              {{ "PORTFOLIO.POLLO" | translate }}
            </p>
            <div class="buttons">
              <a href="https://polloloco.miriam-fuchs.net/" target="_blank"
                ><button class="live-btn">Live test</button></a
              >
              <a href="https://github.com/FuchsMiriam/polloloco" target="_blank"
                ><button class="github-btn">Github</button></a
              >
            </div>
          </div>
          <img
            src="./assets/img/pollo-loco.png"
            alt="Project Image"
            class="project-img"
          />
        </div>

        <div class="project-card">
          <img
            src="./assets/img/pokedex.png"
            alt="Project Image"
            class="project-img"
          />
          <div class="project-info">
            <h2 class="project-title">Pokédex</h2>
            <p class="project-tech">JavaScript | HTML | CSS | API</p>
            <p class="project-description">
              {{ "PORTFOLIO.POKEMON" | translate }}
            </p>
            <div class="buttons">
              <a href="https://pokedex.miriam-fuchs.net/" target="_blank">
                <button class="live-btn">Live test</button>
              </a>
              <a href="https://github.com/FuchsMiriam/pokedex" target="_blank">
                <button class="github-btn">Github</button>
              </a>
            </div>
          </div>
        </div>

        <div class="project-card">
          <div class="project-info">
            <h2 class="project-title">Simple-CRM</h2>
            <p class="project-tech">Angular | HTML | SCSS | TypeScript | Firebase</p>
            <p class="project-description">
              {{ "PORTFOLIO.CRM" | translate }}
            </p>
            <div class="buttons">
              <a href="https://crm.miriam-fuchs.net/" target="_blank">
                <button class="live-btn">Live test</button>
              </a>
              <a href="https://github.com/FuchsMiriam/simple-crm" target="_blank">
                <button class="github-btn">Github</button>
              </a>
            </div>
          </div>
          <img
          src="./assets/img/simple_crm.svg"
          alt="Project Image"
          class="project-img"
        />
        </div>

        <div class="project-card">
          <img
          src="./assets/img/webseite.svg"
          alt="Project Image"
          class="project-img"
        />
          <div class="project-info">
            <h2 class="project-title">
              {{ "PORTFOLIO.TYPO3-TITLE" | translate }}
            </h2>
            <p class="project-tech">TYPO3 | HTML | CSS</p>
            <p class="project-description">
              {{ "PORTFOLIO.TYPO3" | translate }}
            </p>
            <div class="buttons">
              <a
                href="https://www.gruene-taunusstein.de/aktuelles"
                target="_blank"
                ><button class="live-btn">Live test</button></a
              >
            </div>
          </div>
        </div>

        <div class="project-card">
          <div class="project-info">
            <h2 class="project-title">{{ "PORTFOLIO.VOCABULARY-TITLE" | translate }}</h2>
            <p class="project-tech">C++</p>
            <p class="project-description">
              {{ "PORTFOLIO.VOCABULARY" | translate }}
            </p>
            <div class="buttons">
              <a href="https://github.com/FuchsMiriam/vocabulary_trainer" target="_blank">
                <button class="github-btn">Github</button>
              </a>
            </div>
          </div>
          <img
          src="./assets/img/vocabulary_trainer.svg"
          alt="Project Image"
          class="project-img"
        />
        </div>
      </div>
    </div>
  </div>
</section>
