<section class="about-me">
  <div class="about-me-content">
    <h1>About me</h1>
    <p>
      Hi, I'm a frontend developer based in Taunusstein, Germany, with a passion
      for creating intuitive and responsive web applications.
    </p>

    <div class="info">
      <div class="info-section">
        <img class="bulb-img" src="./assets/img/bulb.svg" alt="Bulb" />
        <p>
          My journey into frontend development began out of a fascination with
          how websites work behind the scenes. I quickly fell in love with the
          blend of creativity and logic involved in building user interfaces.
          Every project is an opportunity for me to push my skills further and
          create seamless, engaging experiences for users. I love staying on the
          cutting edge of frontend technologies to bring fresh ideas to my work.
          I have a flexible mindset and am always eager to tackle new challenges
          that help me grow my skills and deepen my understanding.
        </p>
      </div>
      <div class="info-section">
        <img class="puzzle-img" src="./assets/img/puzzle.svg" alt="Puzzle" />
        <p>
          I specialize in different frontend technologies and I love bringing
          designs to life with clean, efficient code. I enjoy solving complex
          problems and constantly learning new technologies to improve user
          experiences.
        </p>
      </div>
    </div>
  </div>

  <div class="image-section">
    <img class="img" src="./assets/img/miriam_fuchs.png" alt="Miriam Fuchs" />
    <div class="photo-line"></div>
  </div>
</section>
