<section class="about-me-container" id="aboutme">
  <div class="about-me">
    <div class="about-me-content">
      <h1>{{ "ABOUT.TITLE" | translate }}</h1>
      <p>{{ "ABOUT.DESCRIPTION" | translate }}</p>

      <div class="info">
        <div class="info-section">
          <img class="bulb-img" src="./assets/img/bulb.svg" alt="Bulb" />
          <p>{{ "ABOUT.INFO" | translate }}</p>
        </div>
        <div class="info-section">
          <img class="puzzle-img" src="./assets/img/puzzle.svg" alt="Puzzle" />
          <p>{{ "ABOUT.SPECIALIZATION" | translate }}</p>
        </div>
      </div>
    </div>

    <div class="image-section">
      <img class="img" src="./assets/img/miriam_fuchs_tiny.png" alt="Miriam Fuchs" />
      <div class="photo-line"></div>
    </div>
  </div>
</section>
