<section class="skills">
  <div class="skills-wrapper">
    <div class="skills-icons-container">
      <div class="skills-icons-grid">
        <div class="skill-item">
          <img src="./assets/img/html.svg" alt="" />
          <p>HTML</p>
        </div>

        <div class="skill-item">
          <img src="./assets/img/css.svg" alt="" />
          <p>CSS</p>
        </div>

        <div class="skill-item">
          <img src="./assets/img/javascript.svg" alt="" />
          <p>JavaScript</p>
        </div>

        <div class="skill-item">
          <img src="./assets/img/typescript.svg" alt="" />
          <p>TypeScript</p>
        </div>

        <div class="skill-item">
          <img src="./assets/img/firebase.svg" alt="" />
          <p>Firebase</p>
        </div>

        <div class="skill-item">
          <img src="./assets/img/angular.svg" alt="" />
          <p>Angular</p>
        </div>

        <div class="skill-item">
          <img src="./assets/img/api.svg" alt="" />
          <p>Rest-API</p>
        </div>

        <div class="skill-item">
          <img src="./assets/img/git.svg" alt="" />
          <p>GIT</p>
        </div>

        <div class="additional-skills">
          <div class="skill-item">
            <img src="./assets/img/material-design.svg" alt="" />
            <p>
              Material <br />
              Design
            </p>
          </div>

          <div class="skill-item">
            <img src="./assets/img/scrum.svg" alt="" />
            <p>Scrum</p>
          </div>

          <div
            (mouseenter)="hover = true"
            (mouseleave)="hover = false"
            class="skill-item"
          >
            <img class="learning-img" src="./assets/img/learning.png" alt="" />
            <p>
              Further <br />
              Education
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="skills-details">
      <div class="skills-header">
        <h2>Skills</h2>
        <div class="skills-bar"></div>
      </div>
      <p>{{ "ABOUT.SKILLS" | translate }}</p>
      <div class="contact-cta">
        <p>{{ "ABOUT.CONTACT_MESSAGE" | translate }}</p>
        <button class="get-in-touch">{{ "BUTTON.GET_IN_TOUCH" | translate }}</button>
      </div>
    </div>
  </div>
</section>
